/services/api-service/node_modules
/services/api-service/dist
/services/api-service/.env
/services/api-service/.env.local
/services/db-service/docker-compose.yml
/services/scraper-service/node_modules
/services/scraper-service/dist
/services/scraper-service/.env
/client/node_modules